#root{
  height: 100%;
  width: 100%;
  background-image: url('../../assets/sky_background.png'); /* Replace with your image URL */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.app {
  height: 100%;
  padding: 0 17% 10% 17%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}